<md-toolbar>
  <md-input-container dividerColor="accent" class="trm-search-container">
    <input mdInput (input)="terms$.next($event.target.value)" type="text">
  </md-input-container>
  <md-icon color="accent" >search</md-icon>
</md-toolbar>

<md-list>
  <a md-list-item
    [routerLink]="['contact', contact.id]"
    *ngFor="let contact of contacts$ | async; trackBy:trackByContactId"
    title="View {{contact.name}} details">
    <img md-list-avatar [src]="contact.image" alt="Picture of {{contact.name}}" class="circle">
    <h3 md-line >{{contact.name}}</h3>
  </a>
</md-list>
